DATABASE_URL=postgres://energy:energy_dev@localhost:55432/energy?sslmode=disable
POSTGRES_PASSWORD=energy_dev
API_TOKEN=replace-with-long-random-token
ENGINE_URL=http://localhost:8090
API_ADDR=:8080
REDIS_ADDR=localhost:6379
APP_DEMO_PASSWORD=replace-with-a-long-random-demo-password
YANDEX_MAPS_API_KEY=5232c396-dee6-49ea-89c6-2f2b16b41ac2
